@import "reset";

body {
  background-color: #b17832;
}

.column {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  gap: 1px;
  height: 100vh;
  grid-template-areas: "column__left column__center column__right";
}

.column__left,
.column__right {
  display: grid;
  grid-template-rows: 0.5fr repeat(5, 1fr) 0.5fr;
  gap: 1px;
}

.column__center {
  display: grid;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  gap: 1px;
  background-image: url(https://contents.sixshop.com/thumbnails/uploadedFiles/67360/product/image_1645640588721_1000.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.column-left--header,
.column-right--header,
.column-left--footer,
.column-right--footer,
.column__center--header,
.column__center--footer,
.item {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b17832;
  font-size: 20px;
}

.item {
  cursor: pointer;
  &:hover {
    color: white;
    background-color: #b17832;
  }
}

.column-right--header {
  text-transform: uppercase;
}

@keyframes textFlow {
  0% {
    transform: translate(0%);
  }

  100% {
    transform: translate(-100%);
  }
}

@keyframes textFlow2 {
  0% {
    transform: translate(0%);
  }

  100% {
    transform: translate(-100%);
  }
}

.column__center--footer {
  overflow: hidden;
  display: flex;

  .textFlow1 {
    display: inline-block;
    animation: textFlow 20s infinite linear;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .textFlow2 {
    display: inline-block;
    text-transform: uppercase;
    white-space: nowrap;
    animation: textFlow2 20s infinite linear;
  }
}
